@model Website.Models.DTOs.Properties.PropertyDetailDTO
@{
    ViewData["Title"] = "Property Details";
}
@functions {
    string Title()
    {
        if (Model != null)
        {
            var sb = new System.Text.StringBuilder();
            if (!string.IsNullOrEmpty(Model.Address?.Line1))
            {
                sb.Append(Model.Address.Line1);
            }
            if (!string.IsNullOrEmpty(Model.Address?.Line2))
            {
                sb.Append(Environment.NewLine);
                sb.Append(Model.Address.Line2);
            }
            if (!string.IsNullOrEmpty(Model.Address?.Line3))
            {
                sb.Append(Environment.NewLine);
                sb.Append(Model.Address.Line3);
            }
            return sb.ToString();
        }
        return "";
    }
}
<div class="row">
    <div col-sm-6>
        <h1>
            @Title()
        </h1>
    </div>
    <div class="col-sm-6">
        <div class="float-right">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a asp-action="Edit" asp-route-portfolioId="@Model.Portfolio.Id" asp-route-propertyId="@Model.Id" class="btn btn-primary btn-sm"
                   data-toggle="tooltip" data-placement="top" title="Edit Portfolio">
                    <span class="material-icons">
                        edit
                    </span>
                </a>
                <a asp-action="Delete" asp-route-portfolioId="@Model.Portfolio.Id" asp-route-propertyId="@Model.Id" class="btn btn-danger btn-sm"
                   data-toggle="tooltip" data-placement="top" title="Delete Portfolio">
                    <span class="material-icons">
                        delete_forever
                    </span>
                </a>
                <a asp-action="Details" asp-controller="Portfolio" asp-route-id="@Model.Portfolio.Id" class="btn btn-light btn-sm"
                   data-toggle="tooltip" data-placement="top" title="Back to list">
                    <span class="material-icons">
                        arrow_back
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div>
    <h4>Property Details</h4>
    <hr />
    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" href="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Details</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="nav-images-tab" data-bs-toggle="tab" data-bs-target="#nav-images" href="#nav-images" type="button" role="tab" aria-controls="nav-images" aria-selected="false">Images</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="nav-document-tab" data-bs-toggle="tab" data-bs-target="#nav-document" href="#nav-document" type="button" role="tab" aria-controls="nav-document" aria-selected="false">Documents</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="nav-tenant-tab" data-bs-toggle="tab" data-bs-target="#nav-tenant" href="#nav-tenant" type="button" role="tab" aria-controls="nav-tenant" aria-selected="false">Tenants</button>
        </li>
    </ul>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            @Html.HiddenFor(x => x.Portfolio.Id, new { @id = "portfolio_id" })
            @Html.HiddenFor(x => x.Id, new { @id = "property_id" })
            @Html.HiddenFor(x => x.Address.Latitude)
            @Html.HiddenFor(x => x.Address.Longitude)
            
            <div class="row">
                <div class="col-sm-12 border rounded">
                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MonthlyRentAmount)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MonthlyRentAmount)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.NoOfRooms)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.NoOfRooms)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UpdatedDate)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedDate)</dd>
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedDate)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedDate)</dd>
                    </dl>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PurchaseDate)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.PurchaseDate)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PropertyValue)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.PropertyValue)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
                        <dd class="col-sm-9">
                            <dl class="row">
                                <dt class="col-sm-4">@Html.DisplayNameFor(address => address.Address.Line1)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Address.Line1)</dd>
                                <dt class="col-sm-4">@Html.DisplayNameFor(address => address.Address.Line2)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Address.Line2)</dd>
                                <dt class="col-sm-4">@Html.DisplayNameFor(address => address.Address.Line3)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Address.Line3)</dd>
                                <dt class="col-sm-4">@Html.DisplayNameFor(address => address.Address.Postcode)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Address.Postcode)</dd>
                                <dt class="col-sm-4">@Html.DisplayNameFor(address => address.Address.Town)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Address.Town)</dd>
                                <dt class="col-sm-4">@Html.DisplayNameFor(address => address.Address.City)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Address.City)</dd>
                            </dl>
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <img src="#" alt="Postcode image" hidden="hidden" id="postcodeImg" class="img-thumbnail" />
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">
            @await Html.PartialAsync("/Views/Property/Partial/_PropertyImages.cshtml", Model.Images, new ViewDataDictionary(ViewData) { { "PropertyId", Model.Id } })
        </div>
        <div class="tab-pane fade" id="nav-document" role="tabpanel" aria-labelledby="nav-document-tab">
            @await Html.PartialAsync("/Views/Property/Partial/_PropertyDocumentList.cshtml", Model.Documents, new ViewDataDictionary(ViewData) { { "PropertyId", Model.Id } })
        </div>
        <div class="tab-pane fade" id="nav-tenant" role="tabpanel" aria-labelledby="nav-tenant-tab">
            @await Html.PartialAsync("/Views/Tenants/_TenantDetail.cshtml", Model.Tenants)
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="tenantCreateButton" data-bs-target="#tenantCreateModal" data-url='@Url.Action("Create", "Tenants")'>
                <span class="material-icons">add</span> Add Tenant
            </button>

            <!-- Modal -->
            @await Html.PartialAsync("/Views/Tenants/Modals/_tenantCreateModal.cshtml")
        </div>
        <div style="padding-top:10px;">
            <a asp-controller="Property" asp-action="Edit" asp-route-portfolioId="@Model.Portfolio.Id" asp-route-propertyId="@Model.Id" class="btn btn-info">Edit</a>
            <a asp-controller="Portfolio" asp-action="Details" asp-route-id="@Model.Portfolio.Id" class="btn btn-default">Back</a>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/Tenant/createTenantModal.js")" asp-append-version="true"></script>
    <script src="~/js/property/property-detail.js" asp-append-version="true"></script>
}

<style>
    .ui-autocomplete {
        max-height: 400px;
        max-width: 400px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .current {
        background-color: #D4F9D4;
    }

    .past {
        background-color: lightgray;
    }

    .legend {
        list-style: none;
    }

        .legend li {
            float: left;
            margin-right: 10px;
        }

        .legend span {
            border: 1px solid black;
            float: left;
            width: 15px;
            height: 15px;
            margin: 2px;
        }
        /* your colors */
        .legend .current {
            background-color: #D4F9D4;
        }

        .legend .past {
            background-color: lightgray;
        }
</style>