@model IEnumerable<Website.Models.DTOs.Portfolios.PortfolioDetailsDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="portfolioIndexTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfProperties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPropertyValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrossIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts{ 
    <script src="~/js/Portfolios/index.js"></script>
}