@model IEnumerable<Website.Models.PropertyImage>

@{
    ViewData["Title"] = "Images for Property";
}

<ul style="list-style-type: none;">
    <a asp-action="Create" class="btn btn-success" asp-route-propertyId="@Model.First().Property.Id">Create New</a>
    @foreach (var image in Model.OrderByDescending(x=>x.CreatedDate))
    {
        <li>
            <div class="row col-sm-12 p-2">
                <div class="col-sm-4">
                    <img src="@image.FilePath" alt="@image.FileName" width="100px">
                </div>
                <div class="col-sm-4">
                    <p>@image.FileName</p>
                    <p>@image.Id</p>
                    <p>@image.CreatedDate</p>
                </div>
                <div class="col-sm-4">
                    <div class="btn-group mr-2" role="group" aria-label="button-group">
                            <form asp-action="Delete" asp-route-id="@image.Id" asp-route-propertyId="@image.Property.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>


<div>
    <a href='javascript:history.go(-1)'>Back</a>
</div>