@model IEnumerable<Website.Models.DTOs.PropertyDocuments.PropertyDocumentDetailsDto>

@Html.ActionLink("Add Document", "Create", "PropertyDocuments", new { propertyId = ViewData["PropertyId"] })

@if (!Model.Any())
{
    <p>No Documents Uploaded for this property.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expires)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActiveFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpirationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(x=>x.ExpirationDate))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expires)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="PropertyDocuments" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="PropertyDocuments" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-controller="PropertyDocuments" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

}