@model IEnumerable<Website.Models.DTOs.Properties.PropertyDetailDTO>

@if (!Model.Any())
{
    <p>No properties.</p>
}
else
{
    <table class="table table-hover table-sm" id="propertiesTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NoOfRooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PropertyValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MonthlyRentAmount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href = '@(Url.Action("Detail", "Property", new { portfolioId = item.Portfolio.Id, propertyId = item.Id }))'" style="cursor: pointer;">
                    @Html.HiddenFor(x=> item.Id)
                    @Html.HiddenFor(x=> item.Portfolio.Id)
                    <td>
                        @Html.DisplayFor(modelItem => item.NoOfRooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthlyRentAmount)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-controller="Property" asp-action="Edit" asp-route-portfolioId="@item.Portfolio.Id" asp-route-propertyId="@item.Id" title="Edit Property"><span class="material-icons" style="color:#17a2b8;">edit</span></a>
                            <a asp-controller="Property" asp-action="Detail" asp-route-portfolioId="@item.Portfolio.Id" asp-route-propertyId="@item.Id" title="View Property"><span class="material-icons">house</span></a>
                            <a asp-controller="Property" asp-action="Delete" asp-route-portfolioId="@item.Portfolio.Id" asp-route-propertyId="@item.Id" title="Delete Property"><span class="material-icons" style="color:red">delete_forever</span></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
